<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Privacy Policy of Sheep CS">
	<meta name="keywords" content="Sheep CS, Privacy Policy">
	<meta name="author" content="Marina Egner">

	<title>Sheep CS - Privacy Policy</title>
	<link href="../style/styles.css" rel="stylesheet">
	<link rel="icon" href="../images/SheepLogoV4GrauTransparent.png" type="image/png">
	<link rel="icon" href="../images/SheepLogoV4GrauTransparent.svg" type="image/png">
	<script>
		document.addEventListener('DOMContentLoaded', () => {
			const copyright = document.getElementById('copyright')
			copyright.innerText = copyright.innerText.replace('2023', '2023-'+new Date().getFullYear());
		
			const navBarElement = document.getElementById('nav-bar');
			window.addEventListener('scroll', function() {
				if(window.scrollY > 70) navBarElement.classList.add('nav-on-scroll');
				else navBarElement.classList.remove('nav-on-scroll');
			});

			
			const menuButtonElement = document.getElementById('hamburger-link');
			const menuBarElement = document.getElementById('main-nav');
			menuButtonElement.addEventListener('click', (_event) => {
				menuButtonElement.classList.toggle('active');
				menuBarElement.classList.toggle('active');
			});
		});
	</script>
</head>
<body>
	<div class="header-container not-start">
		<header id="nav-bar" class="not-start">
			<div class="logo-container">
				<a class="logo-link" href="https://sheepcs.de"><img class="logo" src="../images/SheepLogoV4GrauTransparent.svg" alt="Sheep CS Logo"></a>
				<h1 class="logo-text">Sheep CS</h1>
			</div>
			<nav id="main-nav">
				<a class="nav-link" href="https://blog.en.sheepcs.de/about">About</a>
				<a class="nav-link" href="https://blog.en.sheepcs.de/">Blog</a>
				<a class="nav-link" href="https://github.com/magraina">GitHub</a>
				<a class="nav-link" href="imprint.html">Imprint</a>
				<a class="default-btn white-btn" href="mailto:hello@sheepcs.de">Contact</a>
			</nav>
			<a id="hamburger-link" href="javascript:void(0);"><img id="hamburger-logo" src="images/hamburger.svg"></a>
		</header>
	</div>

	<div id="main">
		<main class="not-start">
			<h2>Privacy Policy</h2>
			<h3>Basics</h3>
			<p>This data protection declaration is intended to inform visitors to this website about the type, scope and purpose of the collection and use of personal data by the website operator.</p>
			<p>The website operator and therefore the body responsible for data processing on this website is:</p>
			<p>
				Marina Egner <br>
				Kreuzberger Straße 50 <br>
				64646 Heppenheim <br>
			<br>
			Contact email: <br>
			<a href="mailto:hello@sheepcs.de">hello@sheepcs.de</a>
			</p>
			<p>The website operator takes your data protection very seriously and treats your personal data confidentially and in accordance with legal regulations. Since changes to this data protection declaration may be made due to new technologies and the constant development of this website, we recommend that you read the data protection declaration again at regular intervals.</p>

			Definitions of the terms used (e.g. “personal data” or “processing”) can be found in Art. 4 GDPR.

			<h3>Hosting</h3>
			<p>We host the content of our website with the following provider:</p>
			<p>Strato</p>
			<p>The provider is Strato AG, Otto-Ostrowski-Straße 7, 10249 Berlin (hereinafter “Strato”). When you visit our website, Strato collects various log files including your IP addresses.</p>
			<p>Further information can be found in Strato's data protection declaration: <br>
			<a href="https://www.strato.de/datenschutz/">https://www.strato.de/datenschutz/</a> .</p>
			<p>The use of Strato is based on Article 6 Paragraph 1 Letter f GDPR. We have a legitimate interest in ensuring that our website is presented as reliably as possible. If appropriate consent has been requested, processing is carried out exclusively on the basis of Art. 6 Para. 1 lit . B. Device fingerprinting) within the meaning of the TTDSG. Consent can be revoked at any time.</p>
			<p><strong>Order processing</strong></p>
			<p>We have concluded an order processing contract (AVV) for the use of the above-mentioned service. This is a contract required by data protection law, which ensures that we only process the personal data of our website visitors in accordance with our instructions and in compliance with the GDPR.</p>

			<h3>SSL or TLS encryption</h3>
			<p>
			This site uses SSL or TLS encryption for security reasons and to protect the transmission of confidential content, such as orders or inquiries that you send to us as the site operator. You can recognize an encrypted connection by the browser address line changing from “http://” to “https://” and by the lock symbol in your browser line.
			<br><br>
			If SSL or TLS encryption is activated, the data you transmit to us cannot be read by third parties.
			</p>
			<h3>Access data</h3>
			<p>We, the website operator or site provider, collect data about access to the website based on our legitimate interest (see Art. 6 Para. 1 lit. f. GDPR) and store this as “server log files” on the website server. The following data is logged like this:</p>
			<ul>
				<li>Website visited</li>
				<li>Time at the time of access</li>
				<li>Amount of data sent in bytes</li>
				<li>Source/reference from which you came to the page</li>
				<li>Browser used</li>
				<li>Operating system used</li>
				<li>IP address used</li>
			</ul>

			<p>The server log files are stored for a maximum of 7 days and then deleted. The data is stored for security reasons, e.g. B. to be able to clarify cases of abuse. If data has to be kept for evidentiary reasons, it is excluded from deletion until the incident has been finally clarified.</p>

			<h3>Data collection on this website</h3>
			<p><strong>Cookies</strong><br> 
			This website does not use cookies for pseudonymous range measurement, which would be transmitted from either our server or the server of a third party to the browsers of visitors to this website.
			<br><br>
			Only technically necessary cookies are used to use functionalities such as logging into the site and the comment function. These functionalities are therefore voluntary and require registration/login on the site.
			<br><br>
			Since we only use technically necessary cookies and do not make any third-party requests, we do not use a cookie consent tool.
			<br><br>
			Collection and processing of personal data The website operator only collects, uses and passes on your personal data if this is permitted by law or if you consent to the data collection.
			<br><br>
			Personal data includes all information that serves to identify you as a person and that can be traced back to you - for example your name, email address and telephone number.
			<br><br>
			You can also visit this website without providing any personal information. 
			</p>
			<h3>Handling contact details</h3>
			<p>If you contact us as the website operator using the contact options offered, your details will be saved so that they can be used to process and answer your query. This data will not be passed on to third parties without your consent.</p>

			<h3>Rights of visitors to this website</h3>
			<p>You have the right, upon request, to receive free information about what personal data has been stored about you. You also have the right to correct incorrect data and to restrict processing or delete your personal data. If applicable, you can also exercise your right to data portability. If you believe that your data has been processed unlawfully, you can lodge a complaint with the relevant supervisory authority.
			<br><br>
			<strong>Deletion of data</strong><br> 
			Unless your request conflicts with a legal obligation to retain data (e.g. data retention), you have the right to have your data deleted. Data stored by us will be deleted if it is no longer necessary for its intended purpose and there are no statutory retention periods. If deletion cannot be carried out because the data is required for permissible legal purposes, data processing will be restricted. In this case, the data will be blocked and not processed for other purposes.
			<br><br>
			<strong>Right to object</strong><br> 
			Visitors and users of this website can exercise their right to object and object to the processing of their personal data at any time. If you would like correction, blocking, deletion or information about the personal data stored about you or have questions regarding the collection, processing or use of your personal data or would like to revoke your consent, please contact:
			</p>
			<a href="mailto:hello@sheepcs.de">hello@sheepcs.de</a>

			<h3>Final Notes</h3>
			<p>This data protection declaration was created using a template provided by <a href="https://www.datenschutz.org/">https://www.datenschutz.org/</a>  and edited and supplemented by the website operator. <br>
				<br>
			Last updated: January 2, 2023</p>
		</main>
	</div>

	<footer>
		<nav>
			<span id="copyright">Sheep CS &copy; 2023</span>
			<ul>
				<li><a href="../">German</a></li>
				<li><a href="imprint.html">Imprint</a></li>
				<li><a href="privacy-policy.html">Privacy Policy</a></li>
			</ul>
			<span id="copyright">Created by M.Egner</span>
		</nav>
		<div class="logo-conatiner">
			<a class="logo-link" href="https://sheepcs.de"><img class="logo" src="../images/SheepLogoV4GrauTransparent.svg" alt="Sheep CS Logo"></a>
			<div class="social-container">
				<a href="https://www.instagram.com/magraina/" target="_blank"><img class="social-logo" src="../images/Instagram.svg" alt="Instagram Logo"></a>
				<a href="https://www.linkedin.com/in/marina-egner-93193818a" target="_blank"><img class="social-logo" src="../images/LinkedIn.png" alt="LinkedIn Logo"></a>
				<a href="https://www.facebook.com/marina.egner.9/" target="_blank"><img class="social-logo" src="../images/Facebook.png" alt="Facebook Logo"></a>
			</div>
			<a class="default-btn accent-btn" href="https://plesk.sheepcs.de:8443">Login</a>
		</div>
	</footer>
</body>
</html>