:root {
	--font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	--font-serif: Georgia, Times, serif;

	--color-background: #151719;
	--color-beyond-dark: #d1bcb8;
	--color-beyond-light: #15171A;
	--accent-color: #6a7782;
	--footer-background: #0A0B0C;
	--preview-text: #f0e4e1;
	--article-text: #f0e4e1;

	--min-side-padding: 180px;
}

/************************************************
 * Main elements definition
 ************************************************/

body {
	font-family: var(--font-sans);
	font-size: 18px;
	font-weight: normal;
	margin: 0;
	background-color: #74615f;
	color: #b3cbde;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	overflow-y: auto;
}

h1 {
	margin: 0;
	font-weight: bold;
	font-size: 56px;
}

.headline-title {
	font-size: 60px;
}

h2 {
	margin: 0;
	font-weight: bold;
	font-size: 44px;
}

h3 {
	margin: 0;
	font-weight: bold;
	font-size: 24px;
}

p {
	font-family: var(--font-serif);
	font-size: 18px;
	color: var(--article-text);
}

.headline-quote {
	font-size: 24px;
}

a,
a:visited {
	color: var(--color-beyond-dark);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.default-btn {
	font-weight: 500;
	padding: 10px 20px;
	border-radius: 30px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	transition: background-color 0.3s, color 0.3s;
}

.white-btn {
	color: var(--color-beyond-light) !important;
	background-color: var(--color-beyond-dark);
}

.border-btn {
	color: var(--color-beyond-dark) !important;
	background-color: transparent;
	border: 1px solid var(--color-beyond-dark);
}

.accent-btn {
	color: var(--color-beyond-dark) !important;
	background-color: var(--accent-color);
}

.default-btn:hover, .white-btn:hover, .border-btn:hover, .accent-btn:hover {
	background-color: #555; /* يمكن تعديل هذا اللون حسب الحاجة */
	color: #fff; /* تغيير لون النص عند التمرير */
}

.disabled {
	display: none;
}

#hamburger-link {
	display: none;
}

/************************************************
 * Header definition
 ************************************************/

.header-container {
	width: calc(100% - var(--min-side-padding) - var(--min-side-padding));
	height: 60vh;
	padding: 0 var(--min-side-padding);
	background: linear-gradient(90deg, #6a7782 0%, #c0b0a4 100%);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	color: #ffffff;
}

.header-container.not-start {
	background-image: url('../images/martin-bisof-xsIOCYmlI1g-unsplash-cropped.png');
	background-size: cover;
	background-repeat: no-repeat;
	color: #ffffff;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	padding: 0 var(--min-side-padding);
	height: 110px;
	width: calc(100% - var(--min-side-padding) - var(--min-side-padding));
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: background-color 1s, height 1s;
	color: #ffffff;
}

header.nav-on-scroll,
header.not-start {
	background-color: var(--accent-color);
	height: 80px;
}

.logo-container {
	display: flex;
	align-items: center;
	gap: 20px;
}

.logo-text {
	font-size: 26px;
	display: none;
}

header.nav-on-scroll .logo-text,
header.not-start .logo-text {
	display: block;
}

.logo {
	width: 70px;
	height: 70px;
	object-fit: contain;
}

header nav {
	font-weight: 500;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 25px;
}

.headline {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 10vh;
}

.headline-quote {
	width: 500px;
}

/************************************************
 * main content
 ************************************************/

main {
	flex: 1;
	width: calc(100% - var(--min-side-padding) - var(--min-side-padding));
	padding: 50px var(--min-side-padding);
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 45px;
}

main.not-start {
	gap: 16px;
	flex-direction: column;
	max-width: 1200px;
	margin: auto;
}

main article {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: 15px;
}

main article:nth-child(even) {
	flex-direction: row-reverse;
}

.text-container {
	flex: 1;
	width: 45%;
	height: 350px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.text-container span {
	color: var(--preview-text);
}

.button-container {
	display: flex;
	gap: 15px;
}

.image-container {
	width: 55%;
}

figure {
	margin: 0;
	padding: 0;
}

figcaption {
	text-align: center;
	font-size: 16px;
	color: var(--preview-text);
}

.image-container img {
	object-fit: cover;
	height: 350px;
	width: 100%;
}

/************************************************
 * footer content
 ************************************************/

footer {
	font-weight: normal;
	width: calc(100% - var(--min-side-padding) - var(--min-side-padding));
	padding: 50px var(--min-side-padding);
	margin-top: 50px;
	background-color: var(--footer-background);
	display: flex;
	flex-direction: column;
	gap: 52px;
}

footer nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

footer nav ul {
	display: flex;
	margin: 0;
	padding: 0;
	justify-content: space-between;
	gap: 30px;
}

footer nav ul li:first-child {
	list-style: none;
}

.logo-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.social-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
}

.social-logo {
	height: 40px;
	object-fit: contain;
}

footer .logo {
	width: 100px;
	object-position: left;
}

/************************************************
 * Scrollbar
 ************************************************/

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background-color: #888;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #555;
}

/************************************************
 * Responsive on large screens
 ************************************************/

@media (min-width: 3000px) {
	main {
		flex-direction: row;
		flex-wrap: wrap;
	}

	main article {
		flex-direction: row-reverse;
	}
}

@media (min-width: 1600px) {
	main article {
		justify-content: center;
	}

	.text-container {
		max-width: 600px;
	}

	.image-container {
		width: 700px;
	}
}

/************************************************
 * Responsive on tablets
 ************************************************/

@media (max-width: 1200px) {
	:root {
		--min-side-padding: 80px;
	}
}

@media (max-width: 1024px) {
	:root {
		--min-side-padding: 50px;
	}
}

@media (max-width: 850px) {
	:root {
		--min-side-padding: 10px;
	}
	#hamburger-link {
		display: block;
		z-index: 1;
	}
	#hamburger-link:hover img {
		filter: drop-shadow(1px 1px 3px #ffffff);
	}
	#hamburger-link.active img {
		content: url('../images/close.svg');
	}
	#main-nav {
		display: none;
	}
	#main-nav.active {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		display: flex;
		flex-direction: column;
			justify-content: center;
		background-color: var(--accent-color);
	}
	.logo {
		width: 50px;
		height: 50px;
	}
	header.nav-on-scroll,
	header.not-start {
		height: 60px;
	}
}

@media (max-width: 800px) {
	main {
		gap: 25px;
	}
	main article {
		flex-direction: column;
		align-items: center;
		gap: 25px;
	}
	main article:nth-child(even) {
		flex-direction: inherit;
	}
	.text-container,
	.image-container {
		width: 80vw;
	}

	.text-container {
		gap: 15px;
	}
}

@media (max-width: 720px) {
	footer nav {
		flex-direction: column;
		gap: 10px;
	}
}

/************************************************
 * Responsive on mobile
 ************************************************/

@media (max-width: 648px) {
	.text-container,
	.image-container {
		width: 95vw;
	}
	.headline-quote {
		font-size: 24px;
	}
}

@media (max-width: 600px) {
	body {
		font-size: 16px;
	}
	h1 {
		font-size: 32px;
	}
	h2 {
		font-size: 24px;
	}
	h3 {
		font-size: 18px;
	}
	.headline-title {
		font-size: 44px;
	}
	.headline-quote {
		font-size: 18px;
		width: 90vw;
	}
	header nav {
		font-size: 20px;
	}
}

@media (max-width: 450px) {
	footer .logo-link {
		display: none;
	}
}
