<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Datenschutzerklärung von Sheep CS">
	<meta name="keywords" content="صحة أضحيتي">
	<meta name="author" content="Marina Egner">

	<title>Sheep CS - Datenschutz</title>
	<link href="style/styles.css" rel="stylesheet">
	<link rel="icon" href="images/SheepLogoV4GrauTransparent.png" type="image/png">
	<link rel="icon" href="images/SheepLogoV4GrauTransparent.svg" type="image/png">
	<script>
		document.addEventListener('DOMContentLoaded', () => {
			const copyright = document.getElementById('copyright')
			copyright.innerText = copyright.innerText.replace('2023', '2023-'+new Date().getFullYear());
		
			const navBarElement = document.getElementById('nav-bar');
			window.addEventListener('scroll', function() {
				if(window.scrollY > 70) navBarElement.classList.add('nav-on-scroll');
				else navBarElement.classList.remove('nav-on-scroll');
			});

			
			const menuButtonElement = document.getElementById('hamburger-link');
			const menuBarElement = document.getElementById('main-nav');
			menuButtonElement.addEventListener('click', (_event) => {
				menuButtonElement.classList.toggle('active');
				menuBarElement.classList.toggle('active');
			});
		});
	</script>
</head>
<body>
	<div class="header-container not-start">
		<header id="nav-bar" class="not-start">
			<div class="logo-container">
				<a class="logo-link" href="https://sheepcs.de"><img class="logo" src="images/SheepLogoV4GrauTransparent.svg" alt="صحة أضحيتي"></a>
				<h1 class="logo-text">صحة أضحيتي</h1>
			</div>
			<nav id="main-nav">
				<a class="nav-link" href="https://blog.sheepcs.de/about">Über</a>
				<a class="nav-link" href="https://blog.sheepcs.de/">Blog</a>
				<a class="nav-link" href="https://github.com/magraina">GitHub</a>
				<a class="nav-link" href="impressum.html">Impressum</a>
				<a class="default-btn white-btn" href="mailto:hello@sheepcs.de">Kontakt</a>
			</nav>
			<a id="hamburger-link" href="javascript:void(0);"><img id="hamburger-logo" src="images/hamburger.svg"></a>
		</header>
	</div>

	<div id="main">
		<main class="not-start">
			<h2>Datenschutzerklärung</h2>
			<h3>Grundlegendes</h3>
			<p>Diese Datenschutzerklärung soll die Besucher und Besucherinnen dieser Website über die Art, den Umfang und den Zweck der Erhebung und Verwendung personenbezogener Daten durch den Websitebetreiber informieren.</p>
			<p>Der Websitebetreiber und somit verantwortliche Stelle für die Datenverarbeitung auf dieser Website ist:</p>
			<p>
				Marina Egner<br>
				Kreuzberger Straße 50<br>
				64646 Heppenheim<br>
			<br>
			Kontakt E-Mail:<br>
			<a href="mailto:hello@sheepcs.de">hello@sheepcs.de</a>
			</p>
			<p>Der Websitebetreiber nimmt Ihren Datenschutz sehr ernst und behandelt Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Vorschriften. Da durch neue Technologien und die ständige Weiterentwicklung dieser Webseite Änderungen an dieser Datenschutzerklärung vorgenommen werden können, empfehlen wir Ihnen sich die Datenschutzerklärung in regelmäßigen Abständen wieder durchzulesen.</p>

			Definitionen der verwendeten Begriffe (z.B. “personenbezogene Daten” oder “Verarbeitung”) finden Sie in Art. 4 DSGVO.

			<h3>Hosting</h3>
			<p>Wir hosten die Inhalte unserer Website bei folgendem Anbieter:</p>
			<p>Strato</p>
			<p>Anbieter ist die Strato AG, Otto-Ostrowski-Straße 7, 10249 Berlin (nachfolgend „Strato“). Wenn Sie unsere Website besuchen, erfasst Strato verschiedene Logfiles inklusive Ihrer IP-Adressen.</p>
			<p>Weitere Informationen entnehmen Sie der Datenschutzerklärung von Strato: <br>
			<a href="https://www.strato.de/datenschutz/">https://www.strato.de/datenschutz/</a>.</p>
			<p>Die Verwendung von Strato erfolgt auf Grundlage von Art. 6 Abs. 1 lit. f DSGVO. Wir haben ein berechtigtes Interesse an einer möglichst zuverlässigen Darstellung unserer Website. Sofern eine entsprechende Einwilligung abgefragt wurde, erfolgt die Verarbeitung ausschließlich auf Grundlage von Art. 6 Abs. 1 lit. a DSGVO und § 25 Abs. 1 TTDSG, soweit die Einwilligung die Speicherung von Cookies oder den Zugriff auf Informationen im Endgerät des Nutzers (z. B. Device-Fingerprinting) im Sinne des TTDSG umfasst. Die Einwilligung ist jederzeit widerrufbar.</p>
			<p><strong>Auftragsverarbeitung</strong></p>
			<p>Wir haben einen Vertrag über Auftragsverarbeitung (AVV) zur Nutzung des oben genannten Dienstes geschlossen. Hierbei handelt es sich um einen datenschutzrechtlich vorgeschriebenen Vertrag, der gewährleistet, dass dieser die personenbezogenen Daten unserer Websitebesucher nur nach unseren Weisungen und unter Einhaltung der DSGVO verarbeitet.</p>

			<h3>SSL- bzw. TLS-Verschlüsselung</h3>
			<p>
			Diese Seite nutzt aus Sicherheitsgründen und zum Schutz der Übertragung vertraulicher Inhalte, wie zum Beispiel Bestellungen oder Anfragen, die Sie an uns als Seitenbetreiber senden, eine SSL- bzw. TLS-Verschlüsselung. Eine verschlüsselte Verbindung erkennen Sie daran, dass die Adresszeile des Browsers von „http://“ auf „https://“ wechselt und an dem Schloss-Symbol in Ihrer Browserzeile.
			<br><br>
			Wenn die SSL- bzw. TLS-Verschlüsselung aktiviert ist, können die Daten, die Sie an uns übermitteln, nicht von Dritten mitgelesen werden.
			</p>
			<h3>Zugriffsdaten</h3>
			<p>Wir, der Websitebetreiber bzw. Seitenprovider, erheben aufgrund unseres berechtigten Interesses (s. Art. 6 Abs. 1 lit. f. DSGVO) Daten über Zugriffe auf die Website und speichern diese als „Server-Logfiles“ auf dem Server der Website ab. Folgende Daten werden so protokolliert:</p>
			<ul>
				<li>Besuchte Website</li>
				<li>Uhrzeit zum Zeitpunkt des Zugriffes</li>
				<li>Menge der gesendeten Daten in Byte</li>
				<li>Quelle/Verweis, von welchem Sie auf die Seite gelangten</li>
				<li>Verwendeter Browser</li>
				<li>Verwendetes Betriebssystem</li>
				<li>Verwendete IP-Adresse</li>
			</ul>

			<p>Die Server-Logfiles werden für maximal 7 Tage gespeichert und anschließend gelöscht. Die Speicherung der Daten erfolgt aus Sicherheitsgründen, um z. B. Missbrauchsfälle aufklären zu können. Müssen Daten aus Beweisgründen aufgehoben werden, sind sie solange von der Löschung ausgenommen bis der Vorfall endgültig geklärt ist.</p>

			<h3>Datenerfassung auf dieser Website</h3>
			<p><strong>Cookies</strong><br>
			Diese Website verwendet keine Cookies zur pseudonymisierten Reichweitenmessung, die entweder von unserem Server oder dem Server Dritter an die Browser der Besucher oder Besucherinnen dieser Website übertragen würden.
			<br><br>
			Es werden nur technisch erforderliche Cookies eingesetzt, um Funktionalitäten, wie ein Login auf der Seite, sowie die Kommentarfunktion zu nutzen.
			Diese Funktionalitäten sind somit freiwillig und erfordern eine Registrierung/Login auf der Seite.
			<br><br>
			Da wir lediglich technisch erforderliche Cookies verwenden und keine Drittanfragen stellen, verzichten wir auf ein Cookie-Consent-Tool.
			<br><br>
			Erfassung und Verarbeitung personenbezogener Daten
			Der Websitebetreiber erhebt, nutzt und gibt Ihre personenbezogenen Daten nur dann weiter, wenn dies im gesetzlichen Rahmen erlaubt ist oder Sie in die Datenerhebung einwilligen.
			<br><br>
			Als personenbezogene Daten gelten sämtliche Informationen, welche dazu dienen, Ihre Person zu bestimmen und welche zu Ihnen zurückverfolgt werden können – also beispielsweise Ihr Name, Ihre E-Mail-Adresse und Telefonnummer.
			<br><br>
			Diese Website können Sie auch besuchen, ohne Angaben zu Ihrer Person zu machen. 
			</p>
			<h3>Umgang mit Kontaktdaten</h3>
			<p>Nehmen Sie mit uns als Websitebetreiber durch die angebotenen Kontaktmöglichkeiten Verbindung auf, werden Ihre Angaben gespeichert, damit auf diese zur Bearbeitung und Beantwortung Ihrer Anfrage zurückgegriffen werden kann. Ohne Ihre Einwilligung werden diese Daten nicht an Dritte weitergegeben.</p>

			<h3>Rechte der Besucher und Besucherinnen dieser Website</h3>
			<p>Sie haben das Recht, auf Antrag eine kostenlose Auskunft darüber zu erhalten, welche personenbezogenen Daten über Sie gespeichert wurden. Sie haben außerdem das Recht auf Berichtigung falscher Daten und auf die Verarbeitungseinschränkung oder Löschung Ihrer personenbezogenen Daten. Falls zutreffend, können Sie auch Ihr Recht auf Datenportabilität geltend machen. Sollten Sie annehmen, dass Ihre Daten unrechtmäßig verarbeitet wurden, können Sie eine Beschwerde bei der zuständigen Aufsichtsbehörde einreichen.
			<br><br>
			<strong>Löschung von Daten</strong><br>
			Sofern Ihr Wunsch nicht mit einer gesetzlichen Pflicht zur Aufbewahrung von Daten (z.B. Vorratsdatenspeicherung) kollidiert, haben Sie ein Anrecht auf Löschung Ihrer Daten. Von uns gespeicherte Daten werden, sollten sie für ihre Zweckbestimmung nicht mehr von Nöten sein und es keine gesetzlichen Aufbewahrungsfristen geben, gelöscht. Falls eine Löschung nicht durchgeführt werden kann, da die Daten für zulässige gesetzliche Zwecke erforderlich sind, erfolgt eine Einschränkung der Datenverarbeitung. In diesem Fall werden die Daten gesperrt und nicht für andere Zwecke verarbeitet.
			<br><br>
			<strong>Widerspruchsrecht</strong><br>
			Besucher:innen und Nutzer:innen dieser Website können von ihrem Widerspruchsrecht Gebrauch machen und der Verarbeitung ihrer personenbezogenen Daten zu jeder Zeit widersprechen. Wenn Sie eine Berichtigung, Sperrung, Löschung oder Auskunft über die zu Ihrer Person gespeicherten personenbezogenen Daten wünschen oder Fragen bezüglich der Erhebung, Verarbeitung oder Verwendung Ihrer personenbezogenen Daten haben oder erteilte Einwilligungen widerrufen möchten, wenden Sie sich bitte an:
			</p>
			<a href="mailto:hello@sheepcs.de">hello@sheepcs.de</a>
			<h3>Abschließende Hinweise</h3>
			<p>Die hier vorliegende Datenschutzerklärung wurde anhand einer bereitgestellten Mustervorlage von https://www.datenschutz.org/ erstellt und durch den Websitebetreiber bearbeitet und ergänzt. <br>
				<br>
			Letzte Aktualisierung: 02. Januar 2023</p>
		</main>
	</div>
	
	<footer>
		<nav>
			<span id="copyright">Sheep CS &copy; 2023</span>
			<ul>
				<li><a href="en/index.html">English</a></li>
				<li><a href="impressum.html">Impressum</a></li>
				<li><a href="datenschutz.html">Datenschutz</a></li>
			</ul>
			<span id="copyright">Created by M.Egner</span>
		</nav>
		<div class="logo-conatiner">
			<a class="logo-link" href="https://sheepcs.de"><img class="logo" src="images/SheepLogoV4GrauTransparent.svg" alt="Sheep CS Logo"></a>
			<div class="social-container">
				<a href="https://www.instagram.com/magraina/" target="_blank"><img class="social-logo" src="images/Instagram.svg" alt="Instagram Logo"></a>
				<a href="https://www.linkedin.com/in/marina-egner-93193818a" target="_blank"><img class="social-logo" src="images/LinkedIn.png" alt="LinkedIn Logo"></a>
				<a href="https://www.facebook.com/marina.egner.9/" target="_blank"><img class="social-logo" src="images/Facebook.png" alt="Facebook Logo"></a>
			</div>
			<a class="default-btn accent-btn" href="https://plesk.sheepcs.de:8443">Login</a>
		</div>
	</footer>
</body>
</html>